.company-list-wrapper {
    margin: 0vh 2vw;
}

.table {
    display: table;

    // maybe use border-collapse: separate;
    // also border-spacing: 20px;

    border-collapse: collapse;

    width: 100%;
}
