@import '../main_style.scss';

.company-card-wrapper {
    z-index: 1;

    width: 80px;
    height: 50px;

    text-align: center;

    background-color: $secondary-color;
    border-radius: 5px;
}

.image {
    cursor: pointer;

    width: 80px;
    height: 50px;

    object-fit: contain;

    border-radius: 5px;
}