@import '../main_style.scss';

.table-row {
  display: table-row;

  background-color: $secondary-color;
  border-radius: 10px;

  margin: 1vh 0vw;

  border-top: 8px solid $background-color;
}

.table-row * {
  text-align: center;
  vertical-align: middle;

  font-family: $text-font;
  font-size: 12px;
}

td:first-child,
th:first-child {
  border-radius: 12px 0px 0px 12px;
}

td:last-child,
th:last-child {
  border-radius: 0px 12px 12px 0px;
}

.sub-label {
  color: $primary-color;
  font-size: 9px;
}

.item-scope {
   // color: yellow !important; not working
   text-align: center; // just filler
}

.item-image {
  width: 60px;
  height: 40px;

  object-fit: contain;

  border-radius: 5px;
}

.item-sector {
  padding: 3px 6px;

  border: 1px solid $primary-color;
  border-radius: 20px;
}