@import '../main_style.scss';

.table-row {
    display: table-row;

    background-color: $secondary-color;
    border-radius: 10px;

    margin: 1vh 0vw;

    border-top: 8px solid $background-color;
}

.table-row * {
    text-align: center;
    vertical-align: middle;

    font-family: $text-font;
    font-size: 12px;

    margin-right: .5vw;
}

td:first-child,
th:first-child {
  border-radius: 12px 0px 0px 12px;
}

td:last-child,
th:last-child {
  border-radius: 0px 12px 12px 0px;
}

.sub-label {
    color: $primary-color;
    font-size: 9px;
}