@import '../main_style.scss';

.table-header {
    z-index: 2;

    display: table-row;

    position: sticky;
    top: -1px;

    background-color: $background-color;
}

.menu-item-wrapper {
    display: table-cell;

    text-align: center;
    vertical-align: middle;

    font-family: $text-font;
    font-size: 11px;
    font-weight: 500;
}

.menu-item {
    display: flex;
    cursor: pointer;

    width: fit-content;
    height: fit-content;

    border-radius: 4px;

    white-space: nowrap;
}

.item-text {
    // margin has to be on text and not menu-item, since otherwise empty menu-items would inflate as well.
    display: flex;
    align-items: center;
    margin: 2px 8px 2px 8px;
}

.selected-item {
    background-color: #D8DBE8;

    & .google-icon { color: $secondary-color; }
}

.sort-buttons {
    display: flex;
    flex-direction: column;
}

.google-icon { 
    color: #C4C4DA;
    font-size: 13px;

    margin: 0px 6px 0px -4px; // negative margin is to save space in item-text margin

    // same width&height as font size
    text-align: center;

    &.up { transform: scale(1) rotate(90deg); }

    &.down { transform: scale(1) rotate(-90deg); }
}