@import '../main_style.scss';

.nav-button-icon {
    display: flex;
    position: relative;
    
    // enable this if you want the icon to be centered in navbar
    left: calc($icon-offset * -0.5);

    // use this to resize icons
    // font-size does not work since .material-icons overrides it
    // (not even !important works) :(

    transform: scale(1.2);
    
    color: $exhausted-icon-color;

    margin-left: auto; // center items horizontally
    margin-right: auto;
}

.nav-button-link {
    text-decoration: none;

    
}

.primary-button {
    color: $primary-color;
}

.horizontal-bar {
    position: absolute;
    width: 83px;
    height: 20px;
    left: 0px;
    background-color: $background-color;
    transform: rotate(90deg) translateX(-22px) translateY(-16px);
    z-index: 0;
}
