// IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$pi: 3.1415;

// PRIMARY SETTINGS

$primary-color: green;
$secondary-color: #FFFFFF;
$tertiary-color: #F5F6FB;

$text-color: #17294A;

$exhausted-icon-color: #6A7FA4;

$background-color: #F5F6FB;

$text-font: 'Montserrat', sans-serif;

// NAVBAR SETTINGS

$navbar-width: 75px;

$topview-height: 150px;

$icon-offset: 8px;

// RADAR MENU SETTINGS

$radar-menu-width: 45vmin;
$radar-menu-height: 45vmin;

$radar-menu-scale: 0.8;

// CARDS SETTINGS

$cards-offset: 0px;

// warning: if radius ($cards-open-distance) is allowed to be less than centerview-height,
// sass does not compile since asin (arcsin) of more than 1 is NaN.
$ring-radius: (
    ring-radius1: 55vmin,
    ring-radius2: 105vmin,
    ring-radius3: 155vmin,
);

$cards-menu-open-distance: 0px;
