@import '../main_style.scss';

.view-wrapper {
    background-color: $background-color;
    overflow-x: hidden;
    overflow-y: hidden;

    
}

.top-view-wrapper {
    padding-top: 2vh;
    height: $topview-height;
}

.center-view-wrapper {
    position: fixed; // NEEDED

    width: calc(100% - $navbar-width);
    height: calc(100% - $topview-height);

    transform: translateX(0px);

    left: $navbar-width;

    overflow-y: visible;
}

.nordlys-button {
    display: initial;

    transition-property: top, left, padding, transform;
    transition-duration: 1s, 1s, 1s, 1s;
    transition-timing-function: ease, ease-in-out, ease, ease;

    &.initial-state {
        position: absolute;
        top: calc( ($radar-menu-height / 2) - 18px + $topview-height / 2);
        left: $radar-menu-width;
    }

    &.changed-state {
        position: absolute;
        padding: 1vmax;
        transform: translate(0%,-100%);

        top:  calc(100vh - $topview-height);
        left: 0;
    }
}

.search-button {
    position: absolute;
    
    padding: 1vmax;
    
    bottom:0;
    right:0;

    transition: opacity 1s;

    &.initial-state {
        opacity: 0.5;
    }

    &.changed-state {
        opacity: 1;
    }
}