@import '../main_style.scss';

.submit-button {
    border-radius: 12px;

    font-family: $text-font;
    font-size: 15px;

    white-space: nowrap; // display text in one line
}

.active { // important since it overrides bootstrap theme
    background-color: $primary-color !important;
    color: $secondary-color !important;
    
    border: 1px solid $primary-color !important;
}

.inactive {
    background-color: $secondary-color !important;
    color: $primary-color !important;

    border: 1px solid $primary-color !important;
}